INTER_ORANGE = #D44A26
INTER_GREY_BG = #eaeaea
INTER_GREY_HOVER = #dfdfdf
INTER_DARK_GREY = #333
INTER_VERYDARK_GREY = #111
INTER_BUTTON_WHITE = #F3F3F3
INTER_WHITE = #f8f8f8
INTER_BUTTON_WHITE_HOVER = #F5F5F5

INTER_FONT_LIGHTGREY = #777

INTER_POS_ABSOLUTE()
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0

INTER_BOX_SHADOW = -1px 1px 3px rgba( 0, 0, 0, 0.5 )