.icn
  width: 16px
  height: 16px
  display: inline-block
  background-image: url('/images/icons/iokit-icons16x16.png')
  &.icn-plus
    background-position: 0 0
  &.icn-minus
    background-position: -16px 0
  &.icn-upload
    background-position: -32px 0
  &.icn-download
    background-position: -48px 0
  &.icn-info
    background-position: -64px 0
  &.icn-pencil
    background-position: -80px 0
  &.icn-preferences, &.icn-settings
    background-position: -96px 0
  &.icn-save
    background-position: -112px 0
  &.icn-home
    background-position: -128px 0
  &.icn-comments
    background-position: -144px 0
  &.icn-person, &icn-person-male
    background-position: -32px 0
  &icn-person-female
    background-position: -32px -16px
  &.icn-checkbox
    background-position: 0 -80px
    &.checked
      background-position: -16px -80px
  &.icn-web_element, &.icn-webelement
    background-position: -112px -64px
  &.icn-trash
    background-position: -48px -32px
  &.icn-preview, &.icn-eye-open
    background-position: -64px -32px
  &.icn-refresh
    background-position: -80px -16px
  &.icn-win-arrange-left, &.icn-box-float-left-all-over
    background-position: -144px -16px
  &.icn-win-arrange-right, &.icn-box-float-right-all-over
    background-position: -128px -16px
  &.icn-box-float-none
    background-position: -96px -96px
  &.icn-box-float-right
    background-position: -112px -96px
  &.icn-box-float-left
    background-position: -128px -96px
  &.icn-box-position-absolute
    background-position: -144px -96px
  &.icn-move
    background-position: -80px -96px
  &.icn-locked
    background-position: -80px -32px
    &.unlocked
      background-position: -96px -32px
  &.icn-bold
    background-position: -32px -48px
  &.icn-italic
    background-position: -16px -48px
  &.icn-underline
    background-position: -48px -48px
  &.icn-strikeThrough
    background-position: -64px -48px
  &.icn-paste
    background-position: -64px -64px
  &.icn-link
    background-position: 0 -48px
  &.icn-code, &.icn-source
    background-position: 0 -64px
  &.icn-undo
    background-position: -16px -64px
  &.icn-redo
    background-position: -32px -64px
  &.icn-justifyLeft
    background-position: -80px -48px
  &.icn-justifyRight
    background-position: -96px -48px
  &.icn-justifyCenter
    background-position: -112px -48px
  &.icn-justifyFull
    background-position: -128px -48px
  &.icn-list, &.icn-insertUnorderedList
    background-position: -144px -48px
  &.icn-insertOrderedList
    background-position: -144px -64px
  &.icn-image
    background-position: -32px -80px
  &.icn-share
    background-position: -48px -80px
  &.icn-file
    background-position: -64px -80px
  &.icn-search
    background-position: -64px -16px
  &.icn-power
    background-position: -128px -32px
  &.icn-history
    background-position: -112px -32px
  &.icn-email
    background-position: -80px -80px
  &.icn-reply
    background-position: -96px -80px
  &.icn-edit2
    background-position: -112px -80px
  &.icn-exit
    background-position: -128px -80px
  &.icn-user
    background-position: 0px -32px
    &.role-editor
      background-position: -16px -32px
    &.role-admin
      background-position: -32px -32px
  &.icn-arr-right
    background-position: -32px -96px

  &.white
    background-image: url('/images/icons/iokit-icons16x16w.png')

.icn32
  width: 32px
  height: 32px
  display: inline-block
  background-image: url('/images/icons/iokit-icons32x32.png')

  &.icn-trash
    background-position: -96px -64px