.icn
  width: 16px
  height: 16px
  display: inline-block
  background-image: url('/images/inter-icons16x16.png')
  &.icn-plus
    background-position: 0 0
  &.icn-person
    background-position: -864px 0
  &.icn-caret
    background-position: -112px -16px

  &.white
    background-image: url('/images/inter-icons16x16w.png')

