.icn
  width: 16px
  height: 16px
  display: inline-block
  background-image: url('/images/inter-icons16x16.png')
  &.icn-plus
    background-position: 0 0
  &.icn-minus
    background-position: -16px 0
  &.icn-upload
    background-position: -32px 0
  &.icn-preferences, &.icn-settings
    background-position: -96px 0
  &.icn-person
    background-position: -864px 0
  &.icn-caret
    background-position: -112px -16px
  &.icn-save
    background-position: -112px 0
  &.icn-checkbox
    background-position: -128px -16px
    &.checked
      background-position: -144px -16px

  &.white
    background-image: url('/images/inter-icons16x16w.png')

