#iokit-tree-browser

script
  var Contents = new kendo.data.HierarchicalDataSource({
    type: "odata",
    transport: {
      read: {
        url: iokit.host.native+'/contents'
      }
    },
    schema: {
        model: {
            hasChildren: "Contents",
            id: "CategoryID",
            children: Products
        }
    }
  });

  $("#treeview").kendoTreeView({
    dataSource: Categories,
    dataTextField: ["Contents"]
  });