@font-face {
  font-family: SegoeUI;
  src: url("/fonts/SegoeUI.ttf");
}
body {
  font-size: 14px;
  font-family: 'SegeoUI', 'Lucida Grande', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}
body .content-padding {
  padding: 10px;
}
body .label {
  color: #fff;
  font-weight: bold;
  padding: 3px 4px 2px;
  text-transform: uppercase;
  font-size: 11px;
  background-color: #aaa;
  margin-right: 5px;
}
body .label.label-error {
  background-color: #b94a48;
}
body .label.parent {
  background-color: #3a87ad;
}
body a {
  color: #444;
}
body .btn {
  font-size: 16px;
  border: none;
  background-color: #8a0;
  padding: 2px 12px;
  color: #fff;
  cursor: pointer;
}
body .btn:hover {
  background-color: #444;
}
body .icnbtn {
  border: none;
  background: none;
  cursor: pointer;
}
body .icnbtn:hover {
  border: none;
  background: none;
}
body .icn {
  width: 28px;
  height: 28px;
  display: inline-block;
  background-size: 28px;
  opacity: 0.7;
}
body .icn:hover {
  opacity: 1;
}
body .icn.icn-save {
  background: url("/images/icons/save.svg");
  background-size: 28px;
}
body .icn.icn-save.icn-white {
  background: url("/images/icons/save_w.svg");
  background-size: 28px;
}
body .icn.icn-plus {
  background: url("/images/icons/plus.svg");
  background-size: 28px;
}
body .icn.icn-plus.icn-white {
  background: url("/images/icons/plus_w.svg") #444;
  background-size: 28px;
}
body .icn.icn-minus {
  background: url("/images/icons/minus.svg");
  background-size: 28px;
}
body .icn.icn-small {
  width: 20px;
  height: 20px;
  background-size: 20px;
}
body #inter-action-icons {
  margin: 10px 20px 20px;
}
body #inter-action-icons .icn {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
body #inter-action-icons .icn:hover {
  height: 32px;
  width: 32px;
  background-size: 32px;
  margin: -2px auto auto -2px;
}
body input[type=text],
body input[type=password] {
  border: 1px solid #aaa;
  padding: 5px;
}
body input[type=text]:focus,
body input[type=password]:focus {
  outline: none;
  box-shadow: none;
  border-color: #99d;
}
body h1 {
  font-family: 'SegoeUI', sans-serif;
  font-size: 40px;
  font-weight: normal;
  color: #444;
}
body .span400 {
  width: 400px;
}
body #inter-modal-overlay {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 1001;
}
body #inter-modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: auto;
  height: 180px;
  padding: 20px 0;
  color: #fff;
  background-color: #8a0;
  z-index: 1001;
}
body #inter-modal .inner-wrapper {
  margin: 0 10%;
}
body #inter-modal h1 {
  color: #fff;
  margin: 0;
}
body #inter-modal .control {
  text-align: right;
}
body #inter-modal input[type=text] {
  padding: 10px 5px;
}
body #inter-modal .btn {
  border: 2px solid #fff;
  margin-left: 10px;
}
body #inter-modal .btn:hover {
  border-color: #444;
}
body #inter-modal .parent {
  display: none;
}
body #inter-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50px;
  background-color: #444;
  text-align: center;
}
body #inter-sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
body #inter-sidebar ul li {
  margin: 0;
  padding: 0;
}
body #inter-sidebar a.button {
  float: left;
  position: relative;
  margin-left: -15px;
  margin-top: 10px;
  font-size: 10px;
  color: #fff;
  border: 2px solid #fafafa;
  border-radius: 35px;
  padding: 7px 9px;
}
body #inter-sidebar a.button img {
  border: none;
  width: 28px;
  height: 28px;
}
body #inter-sidebar a.button .loader {
  width: 28px;
  height: 28px;
}
body #inter-sidebar a.button .loader .circle {
  width: 28px;
  height: 28px;
}
body #inter-sidebar a.button.sidebar-button-hover,
body #inter-sidebar a.button.active {
  background-color: #fafafa;
}
body #inter-sidebar a.button.sidebar-button-hover .loader .circle:after,
body #inter-sidebar a.button.active .loader .circle:after {
  background: #000;
}
body #inter-sidebar a.button .hover-text {
  font-family: SegoeUI, sans-serif;
  display: none;
  position: absolute;
  left: 70px;
  top: 5px;
  font-size: 16px;
  padding: 10px 20px;
  min-width: 200px;
  color: #fff;
  text-align: left;
  background-color: #444;
}
body #inter-sidebar #active-line {
  border-top: 2px solid #fff;
  width: 15px;
  height: 2px;
  position: absolute;
  top: 33px;
  right: 0;
}
body #inter-sidebar .sidebar-bottom-content {
  position: absolute;
  bottom: 3px;
  left: 0;
  width: 100%;
  height: 20px;
}
body #inter-sidebar .sidebar-bottom-content .small {
  position: absolute;
  top: 0;
}
body #inter-sidebar .sidebar-bottom-content .small.first {
  left: 2px;
  top: 1px;
}
body #inter-sidebar .sidebar-bottom-content .small.first img {
  width: 18px;
  height: 18px;
}
body #inter-sidebar .sidebar-bottom-content .small.last {
  right: 2px;
}
body #inter-sidebar .sidebar-bottom-content .small.last img {
  width: 20px;
  height: 20px;
}
body #inter-sidebar-content,
body .sidebar-content {
  width: 25%;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 60px;
  bottom: 0;
}
body #inter-main-content,
body .main-content {
  position: absolute;
  margin-left: 60px;
  top: 0;
  left: 25%;
  right: 0;
  bottom: 0;
}
body #inter-top-nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 30%;
  height: 38px;
}
body #inter-top-nav #userpic {
  position: absolute;
  right: 150px;
}
body #inter-top-nav #userpic img {
  width: 38px;
  height: 38px;
  border: none;
}
body #inter-top-nav #useractions {
  position: absolute;
  right: 197px;
  top: 5px;
  font-size: 12px;
  text-align: right;
}
body #inter-top-nav #useractions a {
  text-decoration: none;
  font-weight: 900;
}
body #inter-top-nav #useractions a.logout {
  font-weight: 500;
  color: #777;
}
body #inter-top-nav #desktop-control {
  position: absolute;
  right: 7px;
  top: 12px;
  height: 14px;
  width: 120px;
  text-align: right;
}
body #inter-top-nav #desktop-control a {
  margin: 0 5px;
}
body #inter-top-nav #desktop-control a img {
  width: 12px;
  height: 12px;
  opacity: 0.7;
}
body .inter-vertical-tabs .tab-container {
  top: 100px;
  margin-left: 0;
}
body .inter-vertical-tabs .tab-container .tab {
  height: 20px;
  font-size: 16px;
  font-family: 'SegoeUI', sans-serif;
  background-color: #ddd;
  padding: 10px 20px 15px;
}
body .inter-vertical-tabs .tab-container .tab:hover {
  background-color: #444;
  color: #fff;
}
body .inter-vertical-tabs .tab-content-container {
  top: 100px;
}
body table.preferences {
  border-spacing: 0;
  width: 100%;
}
body table.preferences td {
  vertical-align: top;
  padding: 0;
  position: relative;
}
body table.preferences td:first-child {
  width: 30%;
}
body table.preferences td:last-child {
  width: 60%;
}
body table.preferences td input[type=text] {
  width: 100%;
  margin-bottom: 2px;
  padding: 5px 0;
  margin-left: -2px;
}
body table.preferences td input[type=text]:disabled {
  background: #eee;
}
body table.preferences .icn-small {
  cursor: pointer;
  opacity: 0.2;
  position: absolute;
  right: 3px;
  margin-top: 3px;
}
body table.preferences .icn-small:hover {
  opacity: 1;
}
.loader {
  position: relative;
  width: 40px;
  margin: auto;
}
.loader .circle {
  position: absolute;
  width: 38px;
  height: 38px;
  opacity: 0;
  transform: rotate(225deg);
  animation-iteration-count: infinite;
  animation-name: orbit;
  animation-duration: 5.5s;
}
.loader .circle:after {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background: #fff;
}
.loader .circle:nth-child(2) {
  animation-delay: 240ms;
}
.loader .circle:nth-child(3) {
  animation-delay: 480ms;
}
.loader .circle:nth-child(4) {
  animation-delay: 720ms;
}
.loader .circle:nth-child(5) {
  animation-delay: 960ms;
}
.paper-box {
  font: 13px 'Lucida Sans', 'trebuchet MS', Arial, Helvetica;
  background: #fff;
  border: 1px solid #ddd;
  color: #333;
  padding: 20px;
  width: 180px;
  float: left;
  _display: inline;
/* IE6 double margin fix */
  position: relative;
  margin: 0 5px;
  box-shadow: 0 2px 2px -1px rgba(0,0,0,0.3);
}
.paper-box:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 10px;
  right: 4px;
  width: 80%;
  top: 80%;
  box-shadow: 0 12px 5px rgba(0,0,0,0.3);
  transform: rotate(3deg);
}
.notice-wrap {
  position: fixed;
  top: 50px;
  right: 0;
  width: 250px;
  z-index: 9999;
}
* html .notice-wrap {
  position: absolute;
}
.notice-item {
  min-height: 60px;
  background-color: #01a31c;
  color: #fff;
  padding: 10px 20px;
  font-family: 'SegoeUI', sans-serif;
  font-size: 14px;
  display: block;
  position: relative;
  margin: 0 0 12px 0;
}
.notice-item.error {
  background-color: #d44a26;
}
.notice-item-close {
  position: absolute;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  right: 2px;
  top: 2px;
  cursor: pointer;
  padding: 2px 7px 0;
}
.notice-item-close:hover {
  background-color: #fff;
  color: #000;
  opacity: 0.7;
}
@-moz-keyframes orbit {
  0% {
    transform: rotate(225deg);
    opacity: 1;
    animation-timing-function: ease-out;
  }

  7% {
    transform: rotate(345deg);
    animation-timing-function: linear;
  }

  30% {
    transform: rotate(455deg);
    animation-timing-function: ease-in-out;
  }

  39% {
    transform: rotate(690deg);
    animation-timing-function: linear;
  }

  70% {
    transform: rotate(815deg);
    opacity: 1;
    animation-timing-function: ease-out;
  }

  75% {
    transform: rotate(945deg);
    animation-timing-function: ease-out;
  }

  76% {
    transform: rotate(945deg);
    opacity: 0;
  }

  100% {
    transform: rotate(945deg);
    opacity: 0;
  }
}
@-webkit-keyframes orbit {
  0% {
    transform: rotate(225deg);
    opacity: 1;
    animation-timing-function: ease-out;
  }

  7% {
    transform: rotate(345deg);
    animation-timing-function: linear;
  }

  30% {
    transform: rotate(455deg);
    animation-timing-function: ease-in-out;
  }

  39% {
    transform: rotate(690deg);
    animation-timing-function: linear;
  }

  70% {
    transform: rotate(815deg);
    opacity: 1;
    animation-timing-function: ease-out;
  }

  75% {
    transform: rotate(945deg);
    animation-timing-function: ease-out;
  }

  76% {
    transform: rotate(945deg);
    opacity: 0;
  }

  100% {
    transform: rotate(945deg);
    opacity: 0;
  }
}
@-o-keyframes orbit {
  0% {
    transform: rotate(225deg);
    opacity: 1;
    animation-timing-function: ease-out;
  }

  7% {
    transform: rotate(345deg);
    animation-timing-function: linear;
  }

  30% {
    transform: rotate(455deg);
    animation-timing-function: ease-in-out;
  }

  39% {
    transform: rotate(690deg);
    animation-timing-function: linear;
  }

  70% {
    transform: rotate(815deg);
    opacity: 1;
    animation-timing-function: ease-out;
  }

  75% {
    transform: rotate(945deg);
    animation-timing-function: ease-out;
  }

  76% {
    transform: rotate(945deg);
    opacity: 0;
  }

  100% {
    transform: rotate(945deg);
    opacity: 0;
  }
}
@-ms-keyframes orbit {
  0% {
    transform: rotate(225deg);
    opacity: 1;
    animation-timing-function: ease-out;
  }

  7% {
    transform: rotate(345deg);
    animation-timing-function: linear;
  }

  30% {
    transform: rotate(455deg);
    animation-timing-function: ease-in-out;
  }

  39% {
    transform: rotate(690deg);
    animation-timing-function: linear;
  }

  70% {
    transform: rotate(815deg);
    opacity: 1;
    animation-timing-function: ease-out;
  }

  75% {
    transform: rotate(945deg);
    animation-timing-function: ease-out;
  }

  76% {
    transform: rotate(945deg);
    opacity: 0;
  }

  100% {
    transform: rotate(945deg);
    opacity: 0;
  }
}
@keyframes orbit {
  0% {
    transform: rotate(225deg);
    opacity: 1;
    animation-timing-function: ease-out;
  }

  7% {
    transform: rotate(345deg);
    animation-timing-function: linear;
  }

  30% {
    transform: rotate(455deg);
    animation-timing-function: ease-in-out;
  }

  39% {
    transform: rotate(690deg);
    animation-timing-function: linear;
  }

  70% {
    transform: rotate(815deg);
    opacity: 1;
    animation-timing-function: ease-out;
  }

  75% {
    transform: rotate(945deg);
    animation-timing-function: ease-out;
  }

  76% {
    transform: rotate(945deg);
    opacity: 0;
  }

  100% {
    transform: rotate(945deg);
    opacity: 0;
  }
}
