@font-face
  font-family: SegoeUI
  src: url('/fonts/SegoeUI.ttf')

body
  font-size: 14px
  font-family: 'SegeoUI', 'Lucida Grande', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif

  .content-padding
    padding: 10px

  .label
    color: white
    font-weight: bold
    padding: 3px 4px 2px
    text-transform: uppercase
    font-size: 11px
    background-color: #aaa
    margin-right: 5px
    &.label-error
      background-color: #B94A48

  a
    color: #444

  .btn
    font-size: 16px
    border: none
    background-color: #8a0
    padding: 2px 8px
    color: white
    cursor: pointer
    &:hover
      background-color: #444

  input[type=text], input[type=password]
    border: 1px solid #aaa
    padding: 5px
    &:focus
      outline: none
      box-shadow: none
      border-color: #99d
  h1
    font-family: 'SegoeUI', sans-serif
    font-size: 40px
    font-weight: normal
    color: #444

  #inter-sidebar
    position: absolute
    top: 0
    left: 0
    bottom: 0
    width: 50px
    background-color: #444
    overflow-y: hidden
    text-align: center
    
    a.button
      float: left
      position: relative
      margin-left: -15px
      margin-top: 10px
      font-size: 10px
      color: #fff
      border: 2px solid #fafafa
      border-radius: 35px
      padding: 7px 9px
      img
        border: none
        width: 28px
        height: 28px
      .loader
        width: 28px
        height: 28px
        .circle
          width: 28px
          height: 28px
      &.sidebar-button-hover
        background-color: #fafafa;
        .loader
          .circle
            &:after
              background: #000
      .hover-text
        font-family: SegoeUI, sans-serif
        display: none
        position: absolute
        left: 70px
        top: 10px
        font-size: 16px
        padding: 5px
        min-width: 200px
        color: #444
        text-align: left
        background-color: white
    .sidebar-bottom-content
      position: absolute
      bottom: 0
      left: 0
      width: 100%
      height: 20px
      .small
        position: absolute
        top: 0
        &.first
          left: 2px
          top: 1px
          img
            width: 18px
            height: 18px
        &.last
          right: 2px
          img
            width: 20px
            height: 20px

  #inter-sidebar-content, .sidebar-content
    width: 25%
    position: absolute
    top: 0
    left: 0
    margin-left: 60px
    bottom: 0

  #inter-main-content, .main-content
    position: absolute
    margin-left: 60px
    top: 0
    left: 25%
    right: 0
    bottom: 0

  #inter-top-nav
    position: absolute
    top: 0
    right: 0
    left: 50px
    height: 38px

    #userpic
      position: absolute
      right: 150px
      img
        width: 38px
        height: 38px
        border: none

    #useractions
      position: absolute
      right: 197px
      top: 5px
      font-size: 12px
      text-align: right
      a
        text-decoration: none
        font-weight: 900
        &.logout
          font-weight: 500
          color: #777
    #desktop-control
      position: absolute
      right: 7px
      top: 12px
      height: 14px
      width: 120px
      text-align: right
      a
        margin: 0 5px
        img
          width: 12px
          height: 12px
          opacity: 0.7

  .inter-vertical-tabs
    .tab-container
      top: 100px
      margin-left: 0
      .tab
        height: 20px
        font-size: 16px
        font-family: 'SegoeUI', sans-serif
        background-color: #ddd
        padding: 10px 20px 15px
        &:hover
          background-color: #444
          color: #fff
    .tab-content-container
      top: 100px
    


// loading animation
.loader
  position: relative
  width: 40px
  margin: auto

  .circle
    position: absolute
    width: 38px
    height: 38px
    opacity: 0
    transform: rotate(225deg)
    animation-iteration-count: infinite
    animation-name: orbit
    animation-duration: 5.5s
    
    &:after
      content: ''
      position: absolute
      width: 5px
      height: 5px
      border-radius: 5px
      background: #fff
    
    &:nth-child(2)
      animation-delay: 240ms
    &:nth-child(3)
      animation-delay: 480ms
    &:nth-child(4)
      animation-delay: 720ms
    &:nth-child(5)
      animation-delay: 960ms

@keyframes orbit
  0%
    transform:rotate(225deg)
    opacity: 1
    animation-timing-function: ease-out
    
  7%
    transform:rotate(345deg)
    animation-timing-function: linear
    
  30%
    transform:rotate(455deg)
    animation-timing-function: ease-in-out
    
  39%
    transform:rotate(690deg)
    animation-timing-function: linear
    
  70%
    transform:rotate(815deg)
    opacity: 1
    animation-timing-function: ease-out
    
  75%
    transform:rotate(945deg)
    animation-timing-function: ease-out
    
  76%
    transform:rotate(945deg)
    opacity: 0

  100%
    transform:rotate(945deg)
    opacity: 0

.paper-box
  font: 13px 'Lucida Sans', 'trebuchet MS', Arial, Helvetica
  background: #fff 
  border: 1px solid #ddd
  color: #333
  padding: 20px
  width: 180px
  float: left
  _display: inline /* IE6 double margin fix */
  position: relative
  margin: 0 5px
  box-shadow: 0 2px 2px -1px rgba(0,0,0,.3)

.paper-box:after
  z-index: -1
  position: absolute
  content: ""
  bottom: 10px
  right: 4px
  width: 80% 
  top: 80%
  box-shadow: 0 12px 5px rgba(0, 0, 0, .3)
  transform: rotate(3deg)