html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,
p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,
dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,
var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,
details,figcaption,figure,footer,header,hgroup,menu,nav,
section,summary,time,mark,audio,video
  margin: 0
  padding: 0

@import "styles/colors"
@import "styles/icns"
@import "styles/dropdown"
@import "styles/loader"
@import "styles/upload"

@font-face
  font-family: OpenSans
  font-weight: 300
  src: url('/fonts/OpenSans-Light.ttf')

@font-face
  font-family: OpenSans
  font-weight: 500
  src: url('/fonts/OpenSans-Regular.ttf')

@font-face
  font-family: OpenSans
  font-weight: 900
  src: url('/fonts/OpenSans-Bold.ttf')

html
  font-family: "OpenSans", 'Arial', sans-serif
  font-size: 100%
  background-color: INTER_BLACK

.pull-right
  float: right

.pull-left
  float: left

.hide
  display: none

.desc
  color: #777
  font-size: 12px

.span400
  width: 400px

table
  font-size: 12px

fieldset
  border: none
  border-top: 1px solid #ddd
  padding: 20px

  legend
    background: INTER_WHITE
    padding: 2px 10px 2px 0
    font-weight: 300

  label
    font-size: 10px
    color: INTER_FONT_LIGHTGREY

form
  p
    margin: 5px 0 
.userpic
  border: 3px solid INTER_WHITE
  box-shadow: -1px 1px 3px INTER_BLACK
  position: relative
  .editpic
    background-color: rgba( 0, 0, 0, 0.5 )
    color: white
    padding: 10px
    text-align: center
    display: none
    position: absolute
    bottom: 0
    left: 0
    right: 0
    font-weight: 300
    font-size: 12px
    cursor: pointer
  &:hover
    .editpic
      display: block
  &.userpic96
    width: 96px
    height: 96px
    margin: 10px 50px 10px 10px
    img
      width: 96px
      height: 96px


a
  color: #55b

h1
  font-size: 24px
  line-height: 28px

#inter-top-panel
  position: absolute
  top: 0
  left: 0
  right: 0
  height: 30px
  background-color: INTER_PITCHBLACK
  padding: 5px
  a#userpic
    float: right
    img
      border: none
      width: 28px
      height: 28px
      border-radius: 1px
  #useractions
    float: right
    margin-right: 10px
    line-height: 14px
    text-align: right
    padding-top: 5px
    width: 300px
    a
      color: #aaa
      text-decoration: none
      font-size: 12px
      line-height: 16px
      .icn-caret
        margin: 2px 0 0 5px
    .dropdown
      a
        color: #555
      a:hover
        color: black

#inter-main-panel
  position: absolute
  top: 40px
  left: 0
  right: 0
  bottom: 0
  background: INTER_GREY_BG

#inter-main-content
  position: absolute
  top: 10px
  left: 75px
  right: 10px
  bottom: 10px
  background-color: INTER_WHITE
  box-shadow: -2px 2px 4px #bbb

  h1.title
    font-size: 18px
    color: #777
    font-weight: 300

  .main-control
    position: absolute
    top: 12px
    right: 10px


ul#inter-sidebar
  position: absolute
  top: 10px
  left: 10px
  bottom: 10px
  list-style: none
  li
    margin: 0 5px 10px 5px
    padding: 15px
    width: 30px
    border-radius: 1px
    text-align: center
    img.icon
      background-size: 24px
      width: 24px
      height: 24px
      opacity: 0.7
    &.active
      background: INTER_WHITE
      box-shadow: -2px 2px 2px #bbb
      border-bottom-left-radius: 3px;
      border-top-left-radius: 3px;
      img.icon
        opacity: 0.8
    &.loading
      height: 28px


.content-padding
  padding: 12px 20px

.content-padding-w-overflow
  position: absolute
  top: 12px
  left: 20px
  right: 20px
  bottom: 10px
  overflow: auto

.progress
  width: 300px
  height: 10px
  background-color: INTER_GREY_BG
  border: 1px solid INTER_DARK_GREY
  .bar
    width:0%
    height:100%
    color: #ffffff
    float:left
    font-size:12px
    text-align:center
    text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25)
    background-color: INTER_ORANGE
    -webkit-transition: width 0.6s ease
    -moz-transition:width 0.6s ease
    -o-transition:width 0.6s ease
    transition:width 0.6s ease

#inter-modal
  INTER_POS_ABSOLUTE()
  width: 800px
  height: 600px
  background-color: INTER_WHITE
  box-shadow: INTER_BOX_SHADOW
  border-radius: 1px
  margin: auto

  .modal-title
    position: absolute
    top: 10px
    left: 10px
    font-weight: 900

  .modal-inner-wrapper
    INTER_POS_ABSOLUTE()
    top: 40px
    overflow: auto
    border-top: 1px solid #ddd

    .modal-sidebar

      .sidebar-nav
        INTER_POS_ABSOLUTE()
        width: 150px
        overflow: auto
        border-right: 1px solid #ddd
        list-style: none
        padding: 20px 0
        li
          padding: 5px
          font-weight: 300
          cursor: pointer
          border-left: 5px solid transparent
          font-size: 0.9em
          &:hover
            background-color: INTER_GREY_BG
          &.active
            border-color: INTER_ORANGE
            font-weight: 900
            color: INTER_ORANGE
      .sidebar-content
        INTER_POS_ABSOLUTE()
        left: 160px
        overflow: auto
        >div
          display: none

#inter-modal-overlay
  INTER_POS_ABSOLUTE()
  width: 100%
  height: 100%
  background-color: rgba(0,0,0,0.7)
  
.btn
  INTER_GRADIENT( #f5f5f5, #f1f1f1 )
  border: 1px solid #DCDCDC
  border-radius: 1px
  color: #333333;
  cursor: pointer;
  font-weight: bold
  padding: 4px 12px
  text-shadow: -1px 1px 0 #FFFFFF
  white-space: nowrap
  border-radius: 1px
  text-decoration: none
  font-size: 12px
  &:hover
    background-color: INTER_BUTTON_WHITE_HOVER;
    background-image: -moz-linear-gradient(center top , #F8F8F8, #F1F1F1);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#F8f8f8), to(#F8f8f8))
    background-position: 0 0;
    background-repeat: repeat-x;
    border-color: #C6C6C6;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.1);
    color: #333333;
    text-shadow: none;
    transition: none 0s ease 0s;
    z-index: 2;
  &.w-icn-only
    padding: 4px 8px 2px
    .icn
      opacity: 0.5

.cntBox
  padding: 1px 6px
  border: 1px solid #aaa
  background-color: #ccc
  color: black
  margin: 0 5px
  font-size: 10px
  font-weight: 900
  border-radius: 1px
  .new
    background-color: INTER_ORANGE
    border-color: INTER_ORANGE
    color: black

input[type=text],input[type=password]
  border: 1px solid #dcdcdc;
  border-radius: 1px
  padding: 8px 0
  text-indent: 5px

  &:focus, &:hover
    border: 1px solid #bbb;
    box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.3) inset;
    outline: medium none;
    transition: none 0s ease 0s;

.inter-docklet
  width: 100px
  height: 100px
  INTER_GRADIENT(#F5F5F5, #F1F1F1)
  background-repeat: repeat-x;
  box-shadow: -1px 1px 2px rgba(0,0,0,0.5);
  position: relative
  margin: 5px
  .loader
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    height: 40px
  h1
    font-size: 18px
    font-weight: 300
    border-bottom: 1px solid #ddd
    padding: 5px 10px
  .action-btn
    position: absolute
    top: 8px
    right: 35px
    padding: 4px 12px 2px
    color: #aaa
    font-size: 12px
    &:hover
      color: #555
  .close-icn
    top: 8px
    padding: 2px 7px

.close-icn
  position: absolute
  top: 9px
  right: 9px
  color: #aaa
  padding: 0 7px
  cursor: pointer
  font-size: 14px
  &:hover
    color: #555

.inter-vertical-tabs
  .tab-container
    top: 100px
    margin-left: 0
    .tab
      height: 20px
      font-size: 16px
      font-family: 'SegoeUI', sans-serif
      background-color: #ddd
      padding: 10px 20px 15px
      &:hover
        background-color: #444
        color: #fff
  .tab-content-container
    top: 100px

.inter-tree
  &.outer-decoration
    margin: 5px
  li
    margin: 5px 0 0 2px
  ul
    list-style: none
    margin: 0 0 0 10px
    ul
      list-style: none
      margin: 0 0 0 10px
  .placeholder
    outline: 1px dashed INTER_ORANGE
    border-radius: 1px
  .tree-item
    INTER_GRADIENT(#F3F3F3, #EfEfEf)
    INTER_TRANSITION(0.3s)
    padding: 10px 5px
    font-size: 12px
    border-radius: 1px
    border: 1px solid #ddd
    height: 15px
    position: relative
    overflow: hidden
    &:hover
      box-shadow: -1px 1px 2px rgba(0,0,0,0.3)
      .tree-trigger
        opacity: 1

    .title
      font-size: 14px
    &.selected
      box-shadow: -1px 1px 2px rgba(0,0,0,0.3) inset
      INTER_GRADIENT(#118be7, #007ad6)
      color: white
      .show-options-trigger .caret
        border-color: rgba(255,255,255,0.5) transparent transparent transparent
    &.show-options
      INTER_TRANSITION(0.3s)
      height: 45px
    .published-status
      opacity: 0.5
      margin-right: 25px
    .tree-trigger
      cursor: pointer
    .tree-trigger
      opacity: 0
    .show-options-trigger
      top: 5px
      right: 5px
      position: absolute
      width: 30px
      height: 30px
      .caret
        border-color: rgba(0,0,0,0.5) transparent transparent transparent
        border-style: solid
        border-width: 5px
        height: 0
        width: 0
        position: absolute
        top: 11px
        right: 8px
    .tree-item-control
      margin-top: 12px
      text-align: right
      .btn
        padding: 6px 2px 0
        margin-right: 2px
        border: none
        background: none
        box-shadow: none
        opacity: 0.5
        &:hover
          opacity: 1

    .children-caret
      border-color: transparent transparent transparent rgba(0,0,0,0.5) 
      border-style: solid
      border-width: 5px
      height: 0
      width: 0
      float: left
      margin: 4px

  .tree-controls
    height: 25px
    margin: 5px 10px 0
    .btn
      background: none
      box-shadow: none
      border: none
      opacity: 0.5
      &:hover
        opacity: 1

.second-sidebar
  width: 25%
  position: absolute
  top: 10px
  left: 10px
  bottom: 10px
  .inter-tree-list
    overflow: auto
    position: absolute
    bottom: 0
    left: 0
    top: 30px
    right: 0

#info-modal
  min-height: 300px
  width: 250px
  position: absolute
  border: 1px solid #ddd
  background-color: INTER_WHITE
  padding: 10px
  box-shadow: -1px 1px 3px #ddd
  h1.title
    font-size: 16px
    line-height: 16px
    margin-top: -1px

#info-modal-caret
  position: absolute
  height: 0
  width: 0
  .caret-inner
    border-color: transparent INTER_WHITE transparent transparent
    border-style: solid
    border-width: 10px
    height: 0
    width: 0
    position: absolute
    top: 1px
    left: 2px
    z-index: 102
  .caret-outer
    border-color: transparent #ddd transparent transparent
    border-style: solid
    border-width: 11px
    height: 0
    width: 0
    position: absolute
    top: 0
    z-index: 101
    left: 0


// jquery.notice
.notice-wrap
  position: fixed
  top: 50px
  right: 0
  width: 250px
  z-index: 9999

* html .notice-wrap
  position: absolute
 
.notice-item
  min-height: 60px
  background-color: #01A31C
  color: white
  padding: 10px 20px
  font-family: 'SegoeUI', sans-serif
  font-size: 14px
  display: block
  position: relative
  margin: 0 0 12px 0
  &.error
    background-color: #D44A26

.notice-item-close
  position: absolute
  font-family: Arial
  font-size: 20px
  font-weight: bold
  right: 2px
  top: 2px
  cursor: pointer
  padding: 2px 7px 0
  &:hover
    background-color: white
    color: black
    opacity: 0.7

/* ------------------------------------------------ tipys */
.tipsy
  font-size: 10px
  position: absolute
  padding: 5px
  z-index: 100000

.tipsy-inner
  background-color: rgba(0,0,0,0.8)
  color: #FFF
  max-width: 200px
  padding: 5px 8px 4px 8px
  text-align: center
  border-radius: 1px

.tipsy-arrow { position: absolute; width: 0; height: 0; line-height: 0; border: 5px dashed rgba(0,0,0,0.9); }

/* Rules to colour arrows */
.tipsy-arrow-n { border-bottom-color: rgba(0,0,0,0.9); }
.tipsy-arrow-s { border-top-color: rgba(0,0,0,0.9); }
.tipsy-arrow-e { border-left-color: rgba(0,0,0,0.9); }
.tipsy-arrow-w { border-right-color: rgba(0,0,0,0.9); }

.tipsy-n .tipsy-arrow { top: 0px; left: 50%; margin-left: -5px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent; }
.tipsy-nw .tipsy-arrow { top: 0; left: 10px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent;}
.tipsy-ne .tipsy-arrow { top: 0; right: 10px; border-bottom-style: solid; border-top: none;  border-left-color: transparent; border-right-color: transparent;}
.tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -5px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
.tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
.tipsy-se .tipsy-arrow { bottom: 0; right: 10px; border-top-style: solid; border-bottom: none; border-left-color: transparent; border-right-color: transparent; }
.tipsy-e .tipsy-arrow { right: 0; top: 50%; margin-top: -5px; border-left-style: solid; border-right: none; border-top-color: transparent; border-bottom-color: transparent; }
.tipsy-w .tipsy-arrow { left: 0; top: 50%; margin-top: -5px; border-right-style: solid; border-left: none; border-top-color: transparent; border-bottom-color: transparent; }
