html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,
p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,
dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,
var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,
details,figcaption,figure,footer,header,hgroup,menu,nav,
section,summary,time,mark,audio,video
  margin: 0
  padding: 0

@import "styles/colors"
@import "styles/icns"
@import "styles/dropdown"
@import "styles/loader"

@font-face
  font-family: OpenSans
  font-weight: 300
  src: url('/fonts/OpenSans-Light.ttf')

@font-face
  font-family: OpenSans
  font-weight: 500
  src: url('/fonts/OpenSans-Regular.ttf')

@font-face
  font-family: OpenSans
  font-weight: 900
  src: url('/fonts/OpenSans-Bold.ttf')

html
  font-family: "OpenSans", 'Arial', sans-serif
  font-size: 100%
  min-height: 512px
  background-color: INTER_DARK_GREY

.pull-right
  float: right

.pull-left
  float: left

a
  color: #55b

h1
  font-size: 24px
  line-height: 28px

#inter-top-panel
  position: absolute
  top: 0
  left: 0
  right: 0
  height: 30px
  background-color: INTER_VERYDARK_GREY
  padding: 5px
  a#userpic
    float: right
    img
      border: none
      width: 28px
      height: 28px
      border-radius: 1px
  #useractions
    float: right
    margin-right: 10px
    line-height: 14px
    text-align: right
    padding-top: 5px
    a
      color: #aaa
      text-decoration: none
      font-size: 12px
      line-height: 16px
      .icn-caret
        margin: 2px 0 0 5px
    .dropdown
      a
        color: #555
      a:hover
        color: black

#inter-main-panel
  position: absolute
  top: 40px
  left: 0
  right: 0
  bottom: 0
  background: INTER_GREY_BG

#inter-main-content
  position: absolute
  top: 10px
  left: 70px
  right: 10px
  bottom: 10px
  background-color: INTER_LIGHT_WHITE
  box-shadow: -2px 2px 4px #bbb

  .content-padding
    position: absolute
    top: 12px
    left: 20px
    right: 20px
    bottom: 10px
    overflow: auto

  h1.title
    font-size: 18px
    color: #777
    font-weight: 300


ul#inter-sidebar
  position: absolute
  top: 10px
  left: 10px
  bottom: 10px
  width: 30px
  list-style: none
  li
    margin: 0 5px 10px 5px
    padding: 15px
    width: 25px
    border-radius: 1px
    img.icon
      background-size: 24px
      width: 24px
      height: 24px
      opacity: 0.7
    &.active
      background: INTER_LIGHT_WHITE
      box-shadow: -2px 2px 2px #bbb
      img.icon
        opacity: 0.8

  
.btn
  background-color: INTER_BUTTON_WHITE;
  background-image: -moz-linear-gradient(center top , #F5F5F5, #F1F1F1)
  background-image: -webkit-gradient(linear, left top, left bottom, from(#F5F5F5), to(#F1F1F1))
  background-repeat: repeat-x;
  border: 1px solid #DCDCDC;
  color: #333333;
  cursor: pointer;
  font-weight: bold
  padding: 4px 12px
  text-shadow: -1px 1px 0 #FFFFFF
  white-space: nowrap
  border-radius: 1px
  &:hover
    background-color: INTER_BUTTON_WHITE_HOVER;
    background-image: -moz-linear-gradient(center top , #F8F8F8, #F1F1F1);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#F8f8f8), to(#F8f8f8))
    background-position: 0 0;
    background-repeat: repeat-x;
    border-color: #C6C6C6;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.1);
    color: #333333;
    text-shadow: none;
    transition: none 0s ease 0s;
    z-index: 2;

input[type=text],input[type=password]
  border: 1px solid #dcdcdc;
  border-radius: 1px

  &:focus, &:hover
    border: 1px solid #bbb;
    box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.3) inset;
    outline: medium none;
    transition: none 0s ease 0s;