html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
}
.icn {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-image: url("/images/icons/iokit-icons16x16.png");
}
.icn.icn-plus {
  background-position: 0 0;
}
.icn.icn-minus {
  background-position: -16px 0;
}
.icn.icn-upload {
  background-position: -32px 0;
}
.icn.icn-download {
  background-position: -48px 0;
}
.icn.icn-info {
  background-position: -64px 0;
}
.icn.icn-pencil {
  background-position: -80px 0;
}
.icn.icn-preferences,
.icn.icn-settings {
  background-position: -96px 0;
}
.icn.icn-save {
  background-position: -112px 0;
}
.icn.icn-home {
  background-position: -128px 0;
}
.icn.icn-comments {
  background-position: -144px 0;
}
.icn.icn-person,
.icnicn-person-male {
  background-position: -32px 0;
}
.icnicn-person-female {
  background-position: -32px -16px;
}
.icn.icn-checkbox {
  background-position: 0 -80px;
}
.icn.icn-checkbox.checked {
  background-position: -16px -80px;
}
.icn.icn-web_element,
.icn.icn-webelement {
  background-position: -112px -64px;
}
.icn.icn-trash {
  background-position: -48px -32px;
}
.icn.icn-preview,
.icn.icn-eye-open {
  background-position: -64px -32px;
}
.icn.icn-refresh {
  background-position: -80px -16px;
}
.icn.icn-win-arrange-left {
  background-position: -144px -16px;
}
.icn.icn-locked {
  background-position: -80px -32px;
}
.icn.icn-locked.unlocked {
  background-position: -96px -32px;
}
.icn.icn-bold {
  background-position: -32px -48px;
}
.icn.icn-italic {
  background-position: -16px -48px;
}
.icn.icn-underline {
  background-position: -48px -48px;
}
.icn.icn-strikeThrough {
  background-position: -64px -48px;
}
.icn.icn-link {
  background-position: 0 -48px;
}
.icn.icn-code,
.icn.icn-source {
  background-position: 0 -64px;
}
.icn.icn-justifyLeft {
  background-position: -80px -48px;
}
.icn.icn-justifyRight {
  background-position: -96px -48px;
}
.icn.icn-justifyCenter {
  background-position: -112px -48px;
}
.icn.icn-justifyFull {
  background-position: -128px -48px;
}
.icn.icn-list,
.icn.icn-insertUnorderedList {
  background-position: -144px -48px;
}
.icn.icn-insertOrderedList {
  background-position: -144px -64px;
}
.icn.icn-image {
  background-position: -32px -80px;
}
.icn.white {
  background-image: url("/images/icons/iokit-icons16x16w.png");
}
.dropdown {
  position: relative;
}
.dropdown.btn {
  padding: 4px 12px 2px 12px;
}
.dropdown.btn .icn {
  opacity: 0.6;
}
.dropdown.btn:hover .icn {
  opacity: 0.9;
}
ul.dropdown-menu {
  background: #f8f8f8;
  position: absolute;
  list-style: none;
  top: 22px;
  left: 0px;
  z-index: 100;
  min-width: 135px;
  padding: 10px 0 5px;
  border-radius: 1px;
  border: 1px solid #ddd;
  box-shadow: -2px 2px 2px rgba(0,0,0,0.45);
  display: none;
}
ul.dropdown-menu.right-hand {
  left: auto;
  right: 0;
}
.dropdown li {
  color: #555;
  display: block;
  padding: 6px 25px;
  cursor: poiokit;
  text-decoration: none;
  font-weight: 300;
  font-size: 12px;
}
.dropdown li .icn-checkbox {
  margin-right: 5px;
}
.dropdown li:hover {
  background: #dfdfdf;
  color: #000;
  text-decoration: none;
}
.loader {
  position: relative;
  width: 40px;
  margin: auto;
}
.loader .circle {
  position: absolute;
  width: 38px;
  height: 38px;
  opacity: 0;
  transform: rotate(225deg);
  animation-iteration-count: infinite;
  animation-name: orbit;
  animation-duration: 5.5s;
}
.loader .circle:after {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background: #999;
}
.loader .circle:nth-child(2) {
  animation-delay: 240ms;
}
.loader .circle:nth-child(3) {
  animation-delay: 480ms;
}
.loader .circle:nth-child(4) {
  animation-delay: 720ms;
}
.loader .circle:nth-child(5) {
  animation-delay: 960ms;
}
@-moz-keyframes orbit {
  0% {
    transform: rotate(225deg);
    opacity: 1;
    animation-timing-function: ease-out;
  }

  7% {
    transform: rotate(345deg);
    animation-timing-function: linear;
  }

  30% {
    transform: rotate(455deg);
    animation-timing-function: ease-in-out;
  }

  39% {
    transform: rotate(690deg);
    animation-timing-function: linear;
  }

  70% {
    transform: rotate(815deg);
    opacity: 1;
    animation-timing-function: ease-out;
  }

  75% {
    transform: rotate(945deg);
    animation-timing-function: ease-out;
  }

  76% {
    transform: rotate(945deg);
    opacity: 0;
  }

  100% {
    transform: rotate(945deg);
    opacity: 0;
  }
}
@-webkit-keyframes orbit {
  0% {
    transform: rotate(225deg);
    opacity: 1;
    animation-timing-function: ease-out;
  }

  7% {
    transform: rotate(345deg);
    animation-timing-function: linear;
  }

  30% {
    transform: rotate(455deg);
    animation-timing-function: ease-in-out;
  }

  39% {
    transform: rotate(690deg);
    animation-timing-function: linear;
  }

  70% {
    transform: rotate(815deg);
    opacity: 1;
    animation-timing-function: ease-out;
  }

  75% {
    transform: rotate(945deg);
    animation-timing-function: ease-out;
  }

  76% {
    transform: rotate(945deg);
    opacity: 0;
  }

  100% {
    transform: rotate(945deg);
    opacity: 0;
  }
}
@-o-keyframes orbit {
  0% {
    transform: rotate(225deg);
    opacity: 1;
    animation-timing-function: ease-out;
  }

  7% {
    transform: rotate(345deg);
    animation-timing-function: linear;
  }

  30% {
    transform: rotate(455deg);
    animation-timing-function: ease-in-out;
  }

  39% {
    transform: rotate(690deg);
    animation-timing-function: linear;
  }

  70% {
    transform: rotate(815deg);
    opacity: 1;
    animation-timing-function: ease-out;
  }

  75% {
    transform: rotate(945deg);
    animation-timing-function: ease-out;
  }

  76% {
    transform: rotate(945deg);
    opacity: 0;
  }

  100% {
    transform: rotate(945deg);
    opacity: 0;
  }
}
@-ms-keyframes orbit {
  0% {
    transform: rotate(225deg);
    opacity: 1;
    animation-timing-function: ease-out;
  }

  7% {
    transform: rotate(345deg);
    animation-timing-function: linear;
  }

  30% {
    transform: rotate(455deg);
    animation-timing-function: ease-in-out;
  }

  39% {
    transform: rotate(690deg);
    animation-timing-function: linear;
  }

  70% {
    transform: rotate(815deg);
    opacity: 1;
    animation-timing-function: ease-out;
  }

  75% {
    transform: rotate(945deg);
    animation-timing-function: ease-out;
  }

  76% {
    transform: rotate(945deg);
    opacity: 0;
  }

  100% {
    transform: rotate(945deg);
    opacity: 0;
  }
}
@keyframes orbit {
  0% {
    transform: rotate(225deg);
    opacity: 1;
    animation-timing-function: ease-out;
  }

  7% {
    transform: rotate(345deg);
    animation-timing-function: linear;
  }

  30% {
    transform: rotate(455deg);
    animation-timing-function: ease-in-out;
  }

  39% {
    transform: rotate(690deg);
    animation-timing-function: linear;
  }

  70% {
    transform: rotate(815deg);
    opacity: 1;
    animation-timing-function: ease-out;
  }

  75% {
    transform: rotate(945deg);
    animation-timing-function: ease-out;
  }

  76% {
    transform: rotate(945deg);
    opacity: 0;
  }

  100% {
    transform: rotate(945deg);
    opacity: 0;
  }
}
.qq-uploader {
  position: relative;
  width: 100%;
}
.qq-upload-button {
  display: block;
  width: 240px;
  background-color: #f3f3f3;
  background-image: -moz-linear-gradient(center top, #f5f5f5, #f1f1f1);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#f1f1f1));
  background-repeat: repeat-x;
  border: 1px solid #dcdcdc;
  color: #333;
  cursor: poiokit;
  font-weight: bold;
  padding: 4px 12px;
  text-shadow: -1px 1px 0 #fff;
  white-space: nowrap;
  border-radius: 1px;
  font-size: 12px;
  font-weight: 300;
}
.qq-upload-button:hover {
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(center top, #f8f8f8, #f1f1f1);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f8f8f8));
  background-position: 0 0;
  background-repeat: repeat-x;
  border-color: #c6c6c6;
  box-shadow: -1px 1px 1px rgba(0,0,0,0.1);
  color: #333;
  text-shadow: none;
  transition: none 0s ease 0s;
  z-index: 2;
}
.qq-upload-button .icn {
  opacity: 0.5;
  margin: 2px 10px 2px 0;
}
.qq-upload-button span {
  margin-top: 2px;
}
.qq-upload-drop-area,
.qq-upload-extra-drop-area {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  height: 300px;
  z-index: 2;
  border: 3px dashed #999;
  text-align: center;
}
.qq-upload-drop-area span {
  display: block;
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -8px;
  font-size: 16px;
  text-align: center;
  color: #777;
}
.qq-upload-extra-drop-area {
  position: relative;
  margin-top: 50px;
  font-size: 16px;
  padding-top: 30px;
  height: 20px;
  min-height: 40px;
}
.qq-upload-drop-area-active {
  background: #5a5;
  color: #fff;
  border-color: #5a5;
  border-radius: 1px;
}
.qq-upload-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
}
.qq-upload-list li {
  margin: 0;
  padding: 9px;
  line-height: 15px;
  font-size: 16px;
  background-color: #fff0bd;
}
.qq-upload-file,
.qq-upload-spinner,
.qq-upload-size,
.qq-upload-cancel,
.qq-upload-retry,
.qq-upload-failed-text,
.qq-upload-finished {
  margin-right: 12px;
}
.qq-upload-spinner {
  display: inline-block;
  background: url("loading.gif");
  width: 15px;
  height: 15px;
  vertical-align: text-bottom;
}
.qq-upload-finished {
  display: none;
  width: 15px;
  height: 15px;
  vertical-align: text-bottom;
}
.qq-upload-retry {
  display: none;
  color: #000;
}
.qq-upload-cancel {
  color: #000;
}
.qq-upload-retryable .qq-upload-retry {
  display: inline;
}
.qq-upload-size,
.qq-upload-cancel,
.qq-upload-retry {
  font-size: 12px;
  font-weight: normal;
}
.qq-upload-failed-text {
  display: none;
  font-style: italic;
  font-weight: bold;
}
.qq-upload-failed-icon {
  display: none;
  width: 15px;
  height: 15px;
  vertical-align: text-bottom;
}
.qq-upload-fail .qq-upload-failed-text {
  display: inline;
}
.qq-upload-retrying .qq-upload-failed-text {
  display: inline;
  color: #d60000;
}
.qq-upload-list li.qq-upload-success {
  background-color: #5da30c;
  color: #fff;
}
.qq-upload-list li.qq-upload-fail {
  background-color: #d60000;
  color: #fff;
}
.qq-progress-bar {
  background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
/* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1e5799), color-stop(50%, #2989d8), color-stop(51%, #207cca), color-stop(100%, #7db9e8));
/* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
/* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
/* Opera 11.10+ */
  background: -ms-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
/* IE10+ */
  background: linear-gradient(to bottom, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
/* W3C */
  width: 0%;
  height: 15px;
  border-radius: 6px;
  margin-bottom: 3px;
  display: none;
}
@font-face {
  font-family: OpenSans;
  font-weight: 300;
  src: url("/fonts/OpenSans-Light.ttf");
}
@font-face {
  font-family: OpenSans;
  font-weight: 500;
  src: url("/fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: OpenSans;
  font-weight: 900;
  src: url("/fonts/OpenSans-Bold.ttf");
}
html {
  font-family: "OpenSans", 'Arial', sans-serif;
  font-size: 100%;
  background-color: #333;
}
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.hide {
  display: none;
}
.desc {
  color: #777;
  font-size: 12px;
  font-weight: 300;
}
.span400 {
  width: 400px;
}
.span-full {
  width: 100%;
}
table {
  font-size: 12px;
}
fieldset {
  border: none;
  border-top: 1px solid #ddd;
  padding: 20px;
}
fieldset legend {
  background: #f8f8f8;
  padding: 2px 10px 2px 0;
  font-weight: 300;
}
fieldset label {
  font-size: 10px;
  color: #777;
}
form p {
  margin: 8px 0;
}
form label {
  font-weight: 300;
  color: #999;
  font-size: 12px;
}
form label.pull-left {
  width: 100px;
  color: #777;
  margin: 5px;
}
.path-info.w-margin {
  margin-bottom: 10px;
}
.path-info label.pull-left {
  width: 50px;
  color: #777;
  margin: 5px;
}
.userpic {
  border: 3px solid #f8f8f8;
  box-shadow: -1px 1px 3px #333;
  position: relative;
}
.userpic .editpic {
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  padding: 10px;
  text-align: center;
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-weight: 300;
  font-size: 12px;
  cursor: pointer;
}
.userpic:hover .editpic {
  display: block;
}
.userpic.userpic96 {
  width: 96px;
  height: 96px;
  margin: 10px 50px 10px 10px;
}
.userpic.userpic96 img {
  width: 96px;
  height: 96px;
}
a {
  color: #55b;
}
h1 {
  font-size: 24px;
  line-height: 28px;
}
#iokit-top-panel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  background-color: #111;
  padding: 5px;
}
#iokit-top-panel a#userpic {
  float: right;
}
#iokit-top-panel a#userpic img {
  border: none;
  width: 28px;
  height: 28px;
  border-radius: 1px;
}
#iokit-top-panel #useractions {
  float: right;
  margin-right: 10px;
  line-height: 14px;
  text-align: right;
  padding-top: 5px;
  width: 300px;
}
#iokit-top-panel #useractions a {
  color: #aaa;
  text-decoration: none;
  font-size: 12px;
  line-height: 16px;
}
#iokit-top-panel #useractions a .caret.white {
  border-color: rgba(255,255,255,0.7) transparent transparent transparent;
  border-style: solid;
  border-width: 5px;
  height: 0;
  width: 0;
  position: absolute;
  top: 6px;
  right: 0;
}
#iokit-top-panel #useractions .dropdown a {
  color: #555;
}
#iokit-top-panel #useractions .dropdown a:hover {
  color: #000;
}
#iokit-main-panel {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  background: #eaeaea;
}
#iokit-main-content {
  position: absolute;
  top: 10px;
  left: 75px;
  right: 10px;
  bottom: 10px;
  background-color: #f8f8f8;
  box-shadow: -2px 2px 4px #bbb;
}
#iokit-main-content h1.title {
  font-size: 18px;
  color: #777;
  font-weight: 300;
}
#iokit-main-content .main-control,
#iokit-main-content .main-control-r {
  position: absolute;
  top: 12px;
  right: 10px;
}
#iokit-main-content .main-control-l {
  position: absolute;
  top: 12px;
  left: 10px;
}
ul#iokit-sidebar {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  list-style: none;
}
ul#iokit-sidebar li {
  margin: 0 5px 10px 5px;
  padding: 15px;
  width: 30px;
  border-radius: 1px;
  text-align: center;
}
ul#iokit-sidebar li img.icon {
  background-size: 24px;
  width: 24px;
  height: 24px;
  opacity: 0.7;
}
ul#iokit-sidebar li.active {
  background: #f8f8f8;
  box-shadow: -2px 2px 2px #bbb;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
ul#iokit-sidebar li.active img.icon {
  opacity: 0.8;
}
ul#iokit-sidebar li.loading {
  height: 28px;
}
.content-padding {
  padding: 12px 20px;
}
.content-padding-w-overflow {
  position: absolute;
  top: 12px;
  left: 20px;
  right: 20px;
  bottom: 10px;
  overflow: auto;
}
.progress {
  width: 300px;
  height: 10px;
  background-color: #eaeaea;
  border: 1px solid #aaa;
}
.progress .bar {
  width: 0%;
  height: 100%;
  color: #fff;
  float: left;
  font-size: 12px;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #d44a26;
  -webkit-transition: width 0.6s ease;
  -moz-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
}
#iokit-modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 800px;
  height: 600px;
  background-color: #f8f8f8;
  box-shadow: -1px 1px 3px rgba(0,0,0,0.5);
  border-radius: 1px;
  margin: auto;
  z-index: 1000;
}
#iokit-modal .modal-win-ctrl {
  position: absolute;
  top: 9px;
  padding: 0;
  opacity: 0.5;
}
#iokit-modal .modal-win-ctrl:hover {
  opacity: 1;
}
#iokit-modal .close-icn {
  top: 5px;
  font-size: 20px;
}
#iokit-modal .modal-title {
  position: absolute;
  top: 10px;
  left: 10px;
  font-weight: 900;
}
#iokit-modal .modal-inner-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  top: 40px;
  overflow: auto;
  border-top: 1px solid #ddd;
}
#iokit-modal .modal-inner-wrapper .modal-sidebar .sidebar-nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 150px;
  overflow: auto;
  border-right: 1px solid #ddd;
  list-style: none;
  padding: 20px 0;
}
#iokit-modal .modal-inner-wrapper .modal-sidebar .sidebar-nav li {
  padding: 5px;
  font-weight: 300;
  cursor: pointer;
  border-left: 5px solid transparent;
  font-size: 0.9em;
}
#iokit-modal .modal-inner-wrapper .modal-sidebar .sidebar-nav li:hover {
  background-color: #eaeaea;
}
#iokit-modal .modal-inner-wrapper .modal-sidebar .sidebar-nav li.active {
  border-color: #d44a26;
  font-weight: 900;
  color: #d44a26;
}
#iokit-modal .modal-inner-wrapper .modal-sidebar .sidebar-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  left: 160px;
  overflow: auto;
}
#iokit-modal .modal-inner-wrapper .modal-sidebar .sidebar-content >div {
  display: none;
}
#iokit-modal .modal-inner-wrapper .modal-sidebar .offset-details-view {
  margin-right: 220px;
}
#iokit-modal .modal-inner-wrapper .modal-sidebar .modal-details-view {
  width: 240px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border-left: 1px solid #ddd;
}
#iokit-modal.arrange-left {
  margin: 0;
  left: 0;
  bottom: 0;
  width: 150px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
#iokit-modal.arrange-left .sidebar-nav {
  display: none;
}
#iokit-modal.arrange-left .modal-details-view {
  display: none;
}
#iokit-modal.arrange-left .modal-sidebar .sidebar-content {
  left: 0;
}
#iokit-modal.arrange-left .modal-sidebar .offset-details-view {
  margin-right: 0;
}
#iokit-modal.arrange-left .modal-title {
  display: none;
}
#iokit-modal.arrange-left .web-files-control div {
  display: none;
}
#iokit-modal.arrange-left .selected-counter {
  display: none;
}
.side-tabs .side-tabs-nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 30px;
  overflow: auto;
  border-right: 1px solid #ddd;
  list-style: none;
  padding: 10px 0;
}
.side-tabs .side-tabs-nav li {
  padding: 3px 0 0 4px;
  font-weight: 300;
  cursor: pointer;
  border-left: 5px solid transparent;
  font-size: 0.9em;
}
.side-tabs .side-tabs-nav li:hover {
  background-color: #eaeaea;
}
.side-tabs .side-tabs-nav li:hover .icn {
  opacity: 1;
}
.side-tabs .side-tabs-nav li.active {
  border-color: #d44a26;
  font-weight: 900;
  color: #d44a26;
}
.side-tabs .side-tabs-nav li .icn {
  opacity: 0.5;
}
.side-tabs .side-tabs-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  left: 31px;
  overflow: auto;
  padding: 10px;
}
.side-tabs .side-tabs-content >div {
  display: none;
}
#iokit-modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
}
.btn {
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(center top, #f5f5f5, #f1f1f1);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#f1f1f1));
  background-repeat: repeat-x;
  border: 1px solid #dcdcdc;
  border-radius: 1px;
  color: #333;
  cursor: pointer;
  font-weight: bold;
  padding: 4px 12px;
  text-shadow: -1px 1px 0 #fff;
  white-space: nowrap;
  border-radius: 1px;
  text-decoration: none;
  font-size: 12px;
  cursor: pointer;
}
.btn:hover {
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(center top, #f8f8f8, #f1f1f1);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f8f8f8));
  background-position: 0 0;
  background-repeat: repeat-x;
  border-color: #c6c6c6;
  box-shadow: -1px 1px 1px rgba(0,0,0,0.1);
  color: #333;
  text-shadow: none;
  transition: none 0s ease 0s;
  z-index: 2;
}
.btn.w-icn-only {
  padding: 4px 8px 2px;
}
.btn.w-icn-only .icn {
  opacity: 0.5;
}
.btn.no-bg {
  background: none;
  box-shadow: none;
  opacity: 0.8;
  border: none;
}
.btn.no-bg:hover {
  background: none;
  box-shadow: none;
  opacity: 1;
}
.cntBox {
  padding: 1px 6px;
  border: 1px solid #aaa;
  background-color: #ccc;
  color: #000;
  margin: 0 5px;
  font-size: 10px;
  font-weight: 900;
  border-radius: 1px;
}
.cntBox .new {
  background-color: #d44a26;
  border-color: #d44a26;
  color: #000;
}
input[type=text],
input[type=password] {
  border: 1px solid #dcdcdc;
  border-radius: 1px;
  padding: 8px 0;
  text-indent: 5px;
}
input[type=text]:focus,
input[type=password]:focus,
input[type=text]:hover,
input[type=password]:hover {
  border: 1px solid #bbb;
  box-shadow: -1px 1px 2px rgba(0,0,0,0.3) inset;
  outline: medium none;
  transition: none 0s ease 0s;
}
.iokit-docklet {
  width: 100px;
  height: 100px;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(center top, #f5f5f5, #f1f1f1);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#f1f1f1));
  background-repeat: repeat-x;
  background-repeat: repeat-x;
  box-shadow: -1px 1px 4px rgba(0,0,0,0.5);
  position: relative;
  margin: 5px;
}
.iokit-docklet .loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 40px;
}
.iokit-docklet h1 {
  font-size: 18px;
  font-weight: 300;
  border-bottom: 1px solid #ddd;
  padding: 5px 10px;
}
.iokit-docklet .action-btn {
  position: absolute;
  top: 8px;
  right: 40px;
  padding: 4px 12px 3px;
  color: #aaa;
  font-size: 12px;
  cursor: pointer;
}
.iokit-docklet .action-btn:hover {
  color: #555;
}
.iokit-docklet .close-icn {
  top: 8px;
  padding: 2px 8px;
}
.close-icn {
  position: absolute;
  top: 9px;
  right: 9px;
  color: #aaa;
  padding: 0 7px;
  cursor: pointer;
  font-size: 14px;
}
.close-icn:hover {
  color: #555;
}
.iokit-vertical-tabs .tab-container {
  top: 100px;
  margin-left: 0;
}
.iokit-vertical-tabs .tab-container .tab {
  height: 20px;
  font-size: 16px;
  font-family: 'SegoeUI', sans-serif;
  background-color: #ddd;
  padding: 10px 20px 15px;
}
.iokit-vertical-tabs .tab-container .tab:hover {
  background-color: #444;
  color: #fff;
}
.iokit-vertical-tabs .tab-content-container {
  top: 100px;
}
.iokit-tree.outer-decoration {
  margin: 5px;
}
.iokit-tree li {
  margin: 5px 0 0 2px;
}
.iokit-tree li a {
  text-decoration: none;
  color: #333;
}
.iokit-tree ul {
  list-style: none;
  margin: 0 0 0 10px;
}
.iokit-tree ul ul {
  list-style: none;
  margin: 0 0 0 10px;
}
.iokit-tree .placeholder {
  outline: 1px dashed #d44a26;
  border-radius: 1px;
}
.iokit-tree .tree-item {
  background-color: #f3f3f3;
  background-image: -moz-linear-gradient(center top, #f3f3f3, #efefef);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#efefef));
  background-repeat: repeat-x;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-duration: 0.3s;
  padding: 10px 5px;
  font-size: 12px;
  border-radius: 1px;
  border: 1px solid #ddd;
  height: 15px;
  position: relative;
  overflow: hidden;
}
.iokit-tree .tree-item:hover {
  box-shadow: -1px 1px 2px rgba(0,0,0,0.3);
}
.iokit-tree .tree-item:hover .tree-trigger {
  opacity: 1;
}
.iokit-tree .tree-item .title {
  font-size: 14px;
}
.iokit-tree .tree-item.selected {
  box-shadow: -1px 1px 2px rgba(0,0,0,0.3) inset;
  background-color: #118be7;
  background-image: -moz-linear-gradient(center top, #118be7, #007ad6);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#118be7), to(#007ad6));
  background-repeat: repeat-x;
  color: #fff;
}
.iokit-tree .tree-item.selected a {
  color: #fff;
}
.iokit-tree .tree-item.selected .children-caret {
  border-color: transparent transparent transparent rgba(255,255,255,0.5);
}
.iokit-tree .tree-item.selected .show-options-trigger .caret {
  border-color: rgba(255,255,255,0.5) transparent transparent transparent;
}
.iokit-tree .tree-item.show-options {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-duration: 0.3s;
  height: 45px;
}
.iokit-tree .tree-item .published-status {
  opacity: 0.3;
  margin-right: 25px;
}
.iokit-tree .tree-item .published-status.unlocked {
  opacity: 0;
}
.iokit-tree .tree-item .tree-trigger {
  cursor: pointer;
}
.iokit-tree .tree-item .tree-trigger {
  opacity: 0;
}
.iokit-tree .tree-item .show-options-trigger {
  top: 5px;
  right: 5px;
  position: absolute;
  width: 30px;
  height: 30px;
}
.iokit-tree .tree-item .show-options-trigger .caret {
  border-color: rgba(0,0,0,0.5) transparent transparent transparent;
  border-style: solid;
  border-width: 5px;
  height: 0;
  width: 0;
  position: absolute;
  top: 11px;
  right: 8px;
}
.iokit-tree .tree-item .tree-item-control {
  margin-top: 12px;
  text-align: right;
}
.iokit-tree .tree-item .tree-item-control .btn {
  padding: 6px 2px 0;
  margin-right: 2px;
  border: none;
  background: none;
  box-shadow: none;
  opacity: 0.5;
}
.iokit-tree .tree-item .tree-item-control .btn:hover {
  opacity: 1;
}
.iokit-tree .tree-item .children-caret {
  border-color: transparent transparent transparent rgba(0,0,0,0.5);
  border-style: solid;
  border-width: 5px;
  height: 0;
  width: 0;
  float: left;
  margin: 4px;
}
.iokit-tree .tree-item .children-caret.open {
  transform: rotate(45deg);
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5;
  -moz-transition-duration: 0.5;
  -o-transition-duration: 0.5;
  -ms-transition-duration: 0.5;
  transition-duration: 0.5;
}
.iokit-tree .tree-item .children-caret.loading {
  animation-iteration-count: infinite;
  animation-name: orbit;
  animation-duration: 2s;
}
.iokit-tree .tree-controls {
  height: 25px;
  margin: 5px 10px 0;
}
.iokit-tree .tree-controls .btn {
  background: none;
  box-shadow: none;
  border: none;
  opacity: 0.8;
}
.iokit-tree .tree-controls .btn:hover {
  opacity: 1;
}
.iokit-tree .tree-controls .enableable {
  opacity: 0.2;
}
.iokit-tree .tree-controls .enableable.enabled {
  opacity: 0.8;
}
.second-sidebar {
  width: 25%;
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
}
.second-sidebar .iokit-tree-list {
  overflow: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 30px;
  right: 0;
}
.second-main-container {
  position: absolute;
  top: 10px;
  left: 25%;
  margin-left: 20px;
  right: 10px;
  bottom: 10px;
}
#info-modal {
  min-height: 300px;
  width: 300px;
  position: absolute;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  box-shadow: -1px 1px 3px #ddd;
}
#info-modal .info-modal-title {
  border-bottom: 1px solid #ddd;
  padding: 10px;
}
#info-modal h1.title {
  font-size: 14px;
  line-height: 14px;
}
#info-modal .side-tabs {
  position: absolute;
  left: 0;
  top: 35px;
  bottom: 0;
  right: 0;
}
#info-modal .side-tabs-content div {
  padding: 10px;
  font-size: 12px;
}
#info-modal .side-tabs-content div label.pull-left {
  width: 100px;
  color: #777;
}
#info-modal .side-tabs-content div p {
  margin: 10px 0;
}
#info-modal-caret {
  position: absolute;
  height: 0;
  width: 0;
}
#info-modal-caret .caret-inner {
  border-color: transparent #f8f8f8 transparent transparent;
  border-style: solid;
  border-width: 10px;
  height: 0;
  width: 0;
  position: absolute;
  top: 1px;
  left: 2px;
  z-index: 102;
}
#info-modal-caret .caret-outer {
  border-color: transparent #ddd transparent transparent;
  border-style: solid;
  border-width: 11px;
  height: 0;
  width: 0;
  position: absolute;
  top: 0;
  z-index: 101;
  left: 0;
}
.lbl {
  background-color: #aaa;
  padding: 0.1em 5px;
  font-size: 0.8em;
  color: #fff;
  border-radius: 1px;
}
.lbl.public-status {
  background-color: #338000;
  cursor: pointer;
}
.lbl.public-status.locked {
  background-color: #c55;
}
.lbl.green {
  background-color: #8a0;
}
.lbl.red {
  background-color: #c55;
}
.lbl.black {
  background-color: #333;
  color: #fff;
}
.notice-wrap {
  position: fixed;
  top: 50px;
  right: 0;
  width: 250px;
  z-index: 9999;
}
* html .notice-wrap {
  position: absolute;
}
.notice-item {
  min-height: 60px;
  background-color: #01a31c;
  color: #fff;
  padding: 10px 20px;
  font-family: 'SegoeUI', sans-serif;
  font-size: 14px;
  display: block;
  position: relative;
  margin: 0 0 12px 0;
}
.notice-item.error {
  background-color: #d44a26;
}
.notice-item a {
  color: #fff;
}
.notice-item-close {
  position: absolute;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  right: 2px;
  top: 2px;
  cursor: pointer;
  padding: 2px 7px 0;
}
.notice-item-close:hover {
  background-color: #fff;
  color: #000;
  opacity: 0.7;
}
.iokit-form-controls,
.iokit-editor-controls {
  height: 25px;
  margin: 5px 10px 0 0;
}
.iokit-form-controls .btn,
.iokit-editor-controls .btn {
  background: none;
  box-shadow: none;
  border: none;
  opacity: 0.5;
}
.iokit-form-controls .btn:hover,
.iokit-editor-controls .btn:hover {
  opacity: 1;
}
.iokit-editor-content {
  margin: 5px;
  border: 1px solid #ddd;
  padding: 5px;
  box-shadow: -2px 2px 2px #ccc;
  overflow: auto;
  background-color: #fff;
}
/* ------------------------------------------------ tipys */
.tipsy {
  font-size: 10px;
  position: absolute;
  padding: 5px;
  z-index: 100000;
}
.tipsy-inner {
  background-color: rgba(0,0,0,0.8);
  color: #fff;
  max-width: 200px;
  padding: 5px 8px 4px 8px;
  text-align: center;
  border-radius: 1px;
}
.tipsy-arrow {
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  border: 5px dashed rgba(0,0,0,0.95);
}
/* Rules to colour arrows */
.tipsy-arrow-n {
  border-bottom-color: rgba(0,0,0,0.95);
}
.tipsy-arrow-s {
  border-top-color: rgba(0,0,0,0.95);
}
.tipsy-arrow-e {
  border-left-color: rgba(0,0,0,0.95);
}
.tipsy-arrow-w {
  border-right-color: rgba(0,0,0,0.95);
}
.tipsy-n .tipsy-arrow {
  top: 0px;
  left: 50%;
  margin-left: -5px;
  border-bottom-style: solid;
  border-top: none;
  border-left-color: transparent;
  border-right-color: transparent;
}
.tipsy-nw .tipsy-arrow {
  top: 0;
  left: 10px;
  border-bottom-style: solid;
  border-top: none;
  border-left-color: transparent;
  border-right-color: transparent;
}
.tipsy-ne .tipsy-arrow {
  top: 0;
  right: 10px;
  border-bottom-style: solid;
  border-top: none;
  border-left-color: transparent;
  border-right-color: transparent;
}
.tipsy-s .tipsy-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-top-style: solid;
  border-bottom: none;
  border-left-color: transparent;
  border-right-color: transparent;
}
.tipsy-sw .tipsy-arrow {
  bottom: 0;
  left: 10px;
  border-top-style: solid;
  border-bottom: none;
  border-left-color: transparent;
  border-right-color: transparent;
}
.tipsy-se .tipsy-arrow {
  bottom: 0;
  right: 10px;
  border-top-style: solid;
  border-bottom: none;
  border-left-color: transparent;
  border-right-color: transparent;
}
.tipsy-e .tipsy-arrow {
  right: 0;
  top: 50%;
  margin-top: -5px;
  border-left-style: solid;
  border-right: none;
  border-top-color: transparent;
  border-bottom-color: transparent;
}
.tipsy-w .tipsy-arrow {
  left: 0;
  top: 50%;
  margin-top: -5px;
  border-right-style: solid;
  border-left: none;
  border-top-color: transparent;
  border-bottom-color: transparent;
}
