.inter-main-content-inner

  #root-content

script
  $('#root-content').kendoGrid({
    dataSource: {
      type: "json",
      transport: {
        read: inter.host.master+'/documents',
      },
      schema: {
        data: 'results',
        model: {
          fields: {
            name: { type: "string" },
            updatedAt: { type: "date" },
            holderPrivileges: { type: "string" },
            fileSize: { type: "number" }
          }
        }
      },
      scrollable: {
        virtual: true
      },
      serverPaging: true,
      serverFiltering: true,
      serverSorting: true,
    },
    height: inter.mainHeight(),
    groupable: true,
    sortable: true,
    pageable: {
      refresh: true,
      pageSizes: true
    },
    columns: [ {
        field: 'name',
        title: $.t('name')
      } , {
        field: "updatedAt",
        width: 180,
        title: $.t('updatedAt'),
        format: "{0:dd.MM.yyyy HH:mm}"
      } , {
        field: "holderPrivileges",
        title: $.t('privileges'),
        width: 80
      } , {
        field: "fileSize",
        title: $.t('file_size'),
        width: 80
      }
    ]
  });