#iokit-action-icons
  a.icnbtn( href='/folders/new', data-remote='true' )
    i.icn.icn-plus
  a.icnbtn( href='/upload', data-remote='true' )
    i.icn.icn-upload

#iokit-folders.iokit-tree

script
  var homogeneous = new kendo.data.HierarchicalDataSource({
    transport: {
      read: {
        url: iokit.host.master+'/folders',
        dataType: 'json'
      }
    },
    schema: {
        model: {
            id: "_id",
            hasChildren: true
        }
    }
  });

  $('#iokit-folders').kendoTreeView({
    dataSource: homogeneous,
    template: '<a href="/#= item._type.toLowerCase()+"s" #/#= item._id #" data-remote="true" class="title" data-iid="#= item._id #" data-itype="# item._type #">#= item.name #</a><a href="/documents/#= item._id #" class="delete pull-right">&times;</a>'
  });

  $('#iokit-folders .delete').live('click', function( e ){
    e.preventDefault();
    var treeView = $('#iokit-folders').data('kendoTreeView');
    var uid = $(this).closest('li').attr('data-uid');
    var item = treeView.dataSource.getByUid( uid );

    $.ajax({ url: '/documents/' + item._id,
      type: 'delete',
      dataType: 'json',
      data: { _csrf: $('#_csrf').val() },
      success: function( data ){
        if( data.flash && data.flash.notice && data.flash.notice.length > 0 )
          treeView.detach( treeView.findByUid( uid ) );
        iokit.notify( data.flash );
      }
    })
  });