h1=t('files.new')
p
  span.label.parent

#upload-progress.progress(style='display:none')
  .bar(style='width:20%')

form( action='/upload' )
  p
    input.span300( type='text', name='description', placeholder=t('files.description'), id='file_description' )
  p
    input.span300( type='text', name='copyright', placeholder=t('files.copyright'), id='file_copyright' )
  p
    input.span300( type='file', id='files' )

  input.parent( type='hidden', name='folder[parent]', id='file_parent' )

  p.control
    button.btn( type='button', onclick="iokit.modal('close');")=t('cancel')
    button.btn( type='submit' )=t('save')
