title=iokit.config.site.title

//link(rel='stylesheet', href='/stylesheets/3rdparty/kendo.common.min.css')
//link(rel='stylesheet', href='/stylesheets/3rdparty/kendo.default.min.css')

link(rel='stylesheet', href='/stylesheets/3rdparty/jquery.Jcrop.min.css')
link(rel='stylesheet', href='/stylesheets/3rdparty/io-jquery-ui/jquery-ui-1.9.1.custom.css')

link(rel='stylesheet', href='/stylesheets/iokit.css')

script(type='text/javascript', src='/javascripts/3rdparty/jquery-1.8.2.min.js')
script(type='text/javascript', src='/javascripts/3rdparty/jquery-ui-1.9.1.io.min.js')
script(type='text/javascript', src='/javascripts/3rdparty/jquery.mjs.nestedSortable.js')
script(type='text/javascript', src='/javascripts/3rdparty/knockout-2.2.0.js')
script(type='text/javascript', src='/javascripts/3rdparty/jquery.tipsy.js')
script(type='text/javascript', src='/javascripts/3rdparty/moment.min.js')
script(type='text/javascript', src='/javascripts/3rdparty/moment-lang-all.min.js')
script(type='text/javascript', src='/javascripts/3rdparty/jquery.notice.js')
script(type='text/javascript', src='/javascripts/3rdparty/i18next.min.js')

// uploading
script(type='text/javascript', src='/javascripts/3rdparty/prefixfree.min.js')
script(type='text/javascript', src='/javascripts/3rdparty/jquery.Jcrop.min.js')
script(type='text/javascript', src='/javascripts/3rdparty/filesize.min.js')
script(type='text/javascript', src='/javascripts/3rdparty/jquery.fineuploader-3.0.js')

script(type='text/javascript', src='/javascripts/widgets/menubar.js')
script(type='text/javascript', src='/javascripts/widgets/side-tabs.js')
script(type='text/javascript', src='/javascripts/widgets/top-tabs.js')
script(type='text/javascript', src='/javascripts/widgets/dropdown.js')
script(type='text/javascript', src='/javascripts/widgets/tree.js')

script(type='text/javascript', src='/javascripts/document_base_model.js')
script(type='text/javascript', src='/javascripts/models/io-comment.js')

script(src='/socket.io/socket.io.js')
script(type='text/javascript', src='/javascripts/iokit.js')