title=title
script(type='text/javascript', src='/javascripts/3rdparty/jquery-1.8.2.min.js')
//script(type='text/javascript', src='/javascripts/3rdparty/bootstrap.min.js')
script(type='text/javascript', src='/javascripts/3rdparty/moment.min.js')
script(type='text/javascript', src='/javascripts/3rdparty/jquery.notice.js')
script(type='text/javascript', src='/javascripts/3rdparty/i18next.min.js')
script(type='text/javascript', src='/javascripts/3rdparty/prefixfree.min.js')

script(type='text/javascript', src='/javascripts/3rdparty/kendo.all.min.js')
script(type='text/javascript', src='/javascripts/3rdparty/kendo.culture.de.min.js')
//script(type='text/javascript', src='/javascripts/3rdparty/highcharts.js')

script(type='text/javascript', src='/javascripts/widgets/sidebar.js')
script(type='text/javascript', src='/javascripts/widgets/dropdown.js')
script(type='text/javascript', src='/javascripts/inter.js')

link(rel='stylesheet', href='/stylesheets/3rdparty/kendo.common.min.css')
link(rel='stylesheet', href='/stylesheets/3rdparty/kendo.default.min.css')

//link(rel='stylesheet', href='/stylesheets/3rdparty/bootstrap.min.css')
link(rel='stylesheet', href='/stylesheets/inter.css')
