!!! 5
html
  head
    include header
    block header
  body
    input( type='hidden', id='_csrf', value=_csrf )
    input( type='hidden', id='_host_master', value='http://'+iokit.config.site.domain+':'+iokit.config.port )
    block content