ul#inter-sidebar
  -for( i in inter.plugins )
    -if( inter.plugins[i].sidebarWidget )
      li
        a( href=(inter.plugins[i].sidebarWidget.href || '/'+inter.plugins[i].name.toLowerCase()), data-sidebar-remote=(inter.plugins[i].sidebarWidget.sidebarRemote && inter.plugins[i].name.toLowerCase()+'/sidebar_content'), rel='tooltip-e' )
          img.icon( src=(inter.plugins[i].sidebarWidget.icon || '/images/app-icons/'+inter.plugins[i].name.toLowerCase()+'/96x96.svg') )