#inter-top-nav
  a#userpic( data-user-img=currentUser._id, href='/users/'+currentUser._id )
    img.userpic( src='/images/icons/person.svg' )
  #useractions
    a( href='/users/'+currentUser._id )
      =currentUser.name.full
    br
    a.logout( href='/logout' )
      =t('user.logout')
  #desktop-control(style="display:none")
    a#minimize-window-button( href='#' )
      img( src='/images/icons/win_minimize.svg' )
    a#maximize-window-button( href='#' )
      img( src='/images/icons/win_maximize.svg' )
    a#close-window-button( href='#' )
      img( src='/images/icons/win_close.svg' )