#inter-top-panel
  a#userpic( data-user-img=currentUser._id, href='/users/'+currentUser._id, data-remote='true' )
    img( src='/users/'+currentUser._id+'/pic?size=24', style='width:24px;height:24px' )
  #useractions
    .dropdown.pull-right
      a( href='#', data-toggle='dropdown' )
        span.icn.icn-caret.white
      ul.dropdown-menu.right-hand
        li
          a( href='/users/#{currentUser._id}', data-remote='true' )
            =t('user.my_profile')
        li
          a( href='/history', data-remote='true' )
            =t('history')
        li
          a( href='/preferences', data-remote='true' )
            =t('preferences.title')
        li
          a( href='/logout' )
            =t('logout')
    a.pull-right( href='/users/'+currentUser._id, data-remote='true' )
      =currentUser.name.full

  #desktop-control(style="display:none")
    a#minimize-window-button( href='#' )
      img( src='/images/icons/win_minimize.svg' )
    a#maximize-window-button( href='#' )
      img( src='/images/icons/win_maximize.svg' )
    a#close-window-button( href='#' )
      img( src='/images/icons/win_close.svg' )